/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
}
.nav {
  background-color: var(--bg-main);
  padding: 1.25rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.navbar-logo {
  color: var(--text-primary);
  font-weight: 600;
}

.navbar-menu-btn {
  display: none;
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 1.4rem;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  font-size: 0.95rem;
  padding-right: 16px;
}

.navbar-links a {
  color: var(--text-secondary);
}

.navbar-links a:hover {
  color: var(--text-primary);
}
.theme-set {
  display: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-btn {
    display: inline-flex;
  }
  .nav {
    padding: 1.25rem 1.5rem;
  }
}
@media (max-width: 1024px) {
  .theme-set {
    display: block;
  }
}
@media (max-width: 1440px) {
  .theme-set {
    display: block;
  }
}
