.app {
  background-color: var(--bg-main);
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827 0, #020617 40%, #000 100%);
  color: var(--text-primary);
}

.app-main {
  background-color: var(--bg-main);
  padding: 5rem 4rem 1rem 4rem;
}

@media (max-width: 768px) {
  .app-main {
    padding: 5rem 1.5rem 1rem 1.5rem;
  }
}

/* All posts grid */

.all-posts-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
}

/* Responsive */

@media (max-width: 1024px) {
  .all-posts-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Media query  */
@media (max-width: 768px) {
  .all-posts-grid {
    grid-template-columns: 1fr;
  }
}

/* Attribute selector  */
/* a[target="_blank"] {
  background-color: blue;
} */
